/* CSS COMMUN  */
/*--Font--*/
@font-face {
    font-family: "robotob";
    src: url("../datas/font/Roboto-Bold.ttf");
  }
  
  @font-face {
    font-family: "robotoi";
    src: url("../datas/font/Roboto-Italic.ttf");
  }
  
  @font-face {
    font-family: "robotot";
    src: url("../datas/font/Roboto-Thin.ttf");
  }
  
  @font-face {
    font-family: "engine";
    src: url("../datas/font/Engine-Regular.otf");
  }
  
  @font-face {
    font-family: "enginei";
    src: url("../datas/font/Engine-Italic.otf");
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: #2C3164;
  }
  
  /* CSS DU HEADER */
  /*TOUS LES HEXA*/
  .container {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 6%;
  }
  
  
  /*PREMIER HEXAGONE*/
  .hexagone {
    width: 4.25rem;
    height: 2.5rem;
    background-color: #fff;
    position: absolute;
    right: -1%;
    top: -20%;
    transform: translate(-50%, -50%);
  }
  
  .hexagone:before,
  .hexagone:after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
  }
  
  .hexagone:before {
    transform: rotate(60deg);
  }
  
  .hexagone:after {
    transform: rotate(-60deg);
  }
  
  .hexagone,
  .hexagone:before,
  .hexagone:after {
    background: transparent;
    /*border:0.0625rem solid #fff;
      background: rgba(48,141,255,0.5); */
    border-left: 0.0625rem solid #B3D78D;
    border-right: 0.0625rem solid #B3D78D;
  }
  
  /*FIN PREMIER HEXAGONE*/
  
  /*DEUXIEME HEXAGONE*/
  .hexagone2 {
    width: 4.25rem;
    height: 2.5rem;
    position: absolute;
    right: 3%;
    top: -20%;
    transform: translate(-50%, -50%);
  }
  
  .hexagone2 img {
    width: 3.5rem;
    height: 3.5rem;
    position: absolute;
    margin-left: 48%;
    margin-top: 25%;
    transform: translate(-50%, -50%);
  }
  
  .hexagone2:before,
  .hexagone2:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
  }
  
  .hexagone2:before {
    transform: rotate(60deg);
  }
  
  .hexagone2:after {
    transform: rotate(-60deg);
  }
  
  .hexagone2,
  .hexagone2:before,
  .hexagone2:after {
    /* background: transparent; */
    /*border:0.0625rem solid #fff;
      background: rgba(48,141,255,0.5); */
    border-left: 0.0625rem solid #B3D78D;
    border-right: 0.0625rem solid #B3D78D;
  }
  
  /*TROISIEME HEXAGONE*/
  .hexagone3 {
    width: 4.25rem;
    height: 2.5rem;
    position: absolute;
    right: 7%;
    top: -20%;
    transform: translate(-50%, -50%);
  }
  
  .hexagone3:before,
  .hexagone3:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
  }
  
  .hexagone3:before {
    transform: rotate(60deg);
  }
  
  .hexagone3:after {
    transform: rotate(-60deg);
  }
  
  .hexagone3,
  .hexagone3:before,
  .hexagone3:after {
    /* background: transparent; */
    /*border:0.0625rem solid #fff;
      background: rgba(48,141,255,0.5); */
    border-left: 0.0625rem solid #B3D78D;
    border-right: 0.0625rem solid #B3D78D;
  }
  
  /*FIN TROISIEME HEXAGONE*/
  
  /*QUATRIEME HEXAGONE*/
  .hexagone4 {
    width: 4.25rem;
    height: 2.5rem;
    position: absolute;
    right: 11%;
    top: -20%;
    transform: translate(-50%, -50%);
  }
  
  .hexagone4:before,
  .hexagone4:after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
  }
  
  .hexagone4:before {
    transform: rotate(60deg);
  }
  
  .hexagone4:after {
    transform: rotate(-60deg);
  }
  
  .hexagone4,
  .hexagone4:before,
  .hexagone4:after {
    /* background: transparent; */
    /*border:0.0625rem solid #fff;
      background: rgba(48,141,255,0.5); */
    border-left: 0.0625rem solid #B3D78D;
    border-right: 0.0625rem solid #B3D78D;
  }
  
  
  /* HEXAGONE BAS*/
  /*5EME HEXAGONE*/
  .hexagone_1bas {
    width: 4.25rem;
    height: 2.5rem;
    background-color: #fff;
    position: absolute;
    right: 1%;
    top: 60%;
    transform: translate(-50%, -50%);
  }
  
  .hexagone_1bas:before,
  .hexagone_1bas:after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
  }
  
  .hexagone_1bas:before {
    transform: rotate(60deg);
  }
  
  .hexagone_1bas:after {
    transform: rotate(-60deg);
  }
  
  .hexagone_1bas,
  .hexagone_1bas:before,
  .hexagone_1bas:after {
    background: transparent;
    /*border:0.0625rem solid #fff;
      background: rgba(48,141,255,0.5); */
    border-left: 0.0625rem solid #B3D78D;
    border-right: 0.0625rem solid #B3D78D;
  }
  
  /*6EME HEXAGONE*/
  .hexagone_2bas {
    width: 4.25rem;
    height: 2.5rem;
    background-color: #fff;
    position: absolute;
    right: 5%;
    top: 60%;
    transform: translate(-50%, -50%);
  }
  
  .hexagone_2bas:before,
  .hexagone_2bas:after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
  }
  
  .hexagone_2bas:before {
    transform: rotate(60deg);
  }
  
  .hexagone_2bas:after {
    transform: rotate(-60deg);
  }
  
  .hexagone_2bas,
  .hexagone_2bas:before,
  .hexagone_2bas:after {
    background: transparent;
    /*border:0.0625rem solid #fff;
      background: rgba(48,141,255,0.5); */
    border-left: 0.0625rem solid #B3D78D;
    border-right: 0.0625rem solid #B3D78D;
  }
  
  /*6EME HEXAGONE*/
  .hexagone_3bas {
    width: 4.25rem;
    height: 2.5rem;
    background-color: #fff;
    position: absolute;
    right: 9%;
    top: 60%;
    transform: translate(-50%, -50%);
  }
  
  .hexagone_3bas:before,
  .hexagone_3bas:after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
  }
  
  .hexagone_3bas:before {
    transform: rotate(60deg);
  }
  
  .hexagone_3bas:after {
    transform: rotate(-60deg);
  }
  
  .hexagone_3bas,
  .hexagone_3bas:before,
  .hexagone_3bas:after {
    background: transparent;
    /*border:0.0625rem solid #fff;
      background: rgba(48,141,255,0.5); */
    border-left: 0.0625rem solid #B3D78D;
    border-right: 0.0625rem solid #B3D78D;
  }
  
  /*--Logo--*/
  .monlogo {
    width: 100%;
    position: relative;
  }
  
  .logo {
    width: 25%;
  }
  
  
  /*--Menu entier--*/
  .mon_menu {
    display: flex;
    justify-content: space-around;
    /* margin-left: 5%;
    margin-right: 5%; */
  }
  
  /*--Sous-menu---*/
  .sous-menu {
    z-index: 3;
    position: absolute;
    float: left;
  }
  
  /*--Liens--*/
  a {
    color: white;
    text-decoration: none;
    font-size: 1.3125rem;
    margin-left: 4%;
    white-space: nowrap;
  }
  
  /*--Je m'informe--Découvrir les acteurs--Je m'engage--*/
  button {
    background-color: #555c8f7c;
    border: 0.0625rem solid transparent;
    width: 31.25rem;
    height: 2.5rem;
    color: white;
    font-size: 110%;
    /* position: relative; */
    /* margin-left: 8%;
   margin-top: 10%; */
    font-family: "robotob";
    letter-spacing: 0.3125rem;
  }
  
  /*--Bordure click none--*/
  button:focus {
    outline: 0;
    border: none;
  }
  
  /*--Sous-parties--*/
  ul {
    margin: 0;
  }
  
  ul li {
    width: 28.75rem;
    height: 2.5rem;
    position: relative;
    list-style: none;
    color: white;
    font-family: "robotoi";
  }
  
  /*--Sous-parties je m'engage--*/
  #list {
    background-color: #47316F;
  }
  
  /*--Sous-parties je m'informe--*/
  #list3 {
    background-color: #1E72B9;
  }
  
  /*--Je m'informe--*/
  #btn {
    background-color: #47316F;
  }
  
  /*--Je m'engage--*/
  #btn3 {
    background-color: #1E72B9;
  }
  
  /*--Fin Header--*/
  
  /*--MAIN--*/
main {
    background-color: white;
    margin-top: 0;
}

main h1 {
    font-size: 3em;
    text-align: center;
    letter-spacing: 1em;
    font-family: "engine";
    padding: 1.25rem;
    font-weight: 20;
    color: #1E72B9;
}

    /*--PARTENAIRES--*/
.hexa {
    width: 100%;
    height: 800px;
}

/* .hexa1 img{
    width: 80%;
    height: auto;
    position: absolute;
    margin-left: 12%;
    margin-top: -28%;
    z-index: 1;
    
} */

.hexa1 {
    background-image: url(../datas/oxfam.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
    width: 10.25rem;
    height: 6rem;
    position: absolute;
    left: 40%;
    top: 60%;
    transform: translate(-50%, -50%);
}
  
  .hexa1:before,
  .hexa1:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
}
  
  .hexa1:before {
    
    transform: rotate(60deg);
  }
  
  .hexa1:after {
    transform: rotate(-60deg);
  }
  
  .hexa1,
  .hexa1:before,
  .hexa1:after {
    /* background: transparent; */
    /*border:0.0625rem solid #fff;
      background: rgba(48,141,255,0.5); */
    border-left: 0.0625rem solid #B3D78D;
    border-right: 0.0625rem solid #B3D78D;
  }
/*FIN PARTENAIRE 1*/

/*--PARTENAIRE 2*/
.hexa2 {
    background-image: url(../datas/abbepierre.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
    width: 10.25rem;
    height: 6rem;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
}
  
  .hexa2:before,
  .hexa2:after {
    
    content: "";
    width: 100%;
    height: 100%;
    
    position: absolute;
  }
  
  .hexa2:before {
    transform: rotate(60deg);
  }
  
  .hexa2:after {
    transform: rotate(-60deg);
  }
  
  .hexa2,
  .hexa2:before,
  .hexa2:after {   

    /*border:0.0625rem solid #fff;
      background: rgba(48,141,255,0.5); */
    border-left: 0.0625rem solid #B3D78D;
    border-right: 0.0625rem solid #B3D78D;
  }

/*--FIN PARTENAIRE 2*/

/*--PARTENAIRE 3--*/
.hexa3 {
    width: 10.25rem;
    height: 6rem;
    background-color: #fff;
    position: absolute;
    left: 60%;
    top: 60%;
    transform: translate(-50%, -50%);
}
  
  .hexa3:before,
  .hexa3:after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
  }
  
  .hexa3:before {
    transform: rotate(60deg);
  }
  
  .hexa3:after {
    transform: rotate(-60deg);
  }
  
  .hexa3,
  .hexa3:before,
  .hexa3:after {
    background: transparent;
    /*border:0.0625rem solid #fff;
      background: rgba(48,141,255,0.5); */
    border-left: 0.0625rem solid red;
    border-right: 0.0625rem solid red;
  }
  /*--FIN PARTENAIRE 3 --*/

  /*--PARTENAIRE 4--*/
.hexa4 {
  width: 10.25rem;
  height: 6rem;
  background-color: #fff;
  position: absolute;
  left: 45%;
  top: 80%;
  transform: translate(-50%, -50%);
}

.hexa4:before,
.hexa4:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
}

.hexa4:before {
  transform: rotate(60deg);
}

.hexa4:after {
  transform: rotate(-60deg);
}

.hexa4,
.hexa4:before,
.hexa4:after {
  background: transparent;
  /*border:0.0625rem solid #fff;
    background: rgba(48,141,255,0.5); */
  border-left: 0.0625rem solid red;
  border-right: 0.0625rem solid red;
}
/*--FIN PARTENAIRE 4 --*/

  /*--PARTENAIRE 5--*/
  .hexa5 {
    width: 10.25rem;
    height: 6rem;
    background-color: #fff;
    position: absolute;
    left: 55%;
    top: 80%;
    transform: translate(-50%, -50%);
  }
  
  .hexa5:before,
  .hexa5:after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
  }
  
  .hexa5:before {
    transform: rotate(60deg);
  }
  
  .hexa5:after {
    transform: rotate(-60deg);
  }
  
  .hexa5,
  .hexa5:before,
  .hexa5:after {
    background: transparent;
    /*border:0.0625rem solid #fff;
      background: rgba(48,141,255,0.5); */
    border-left: 0.0625rem solid red;
    border-right: 0.0625rem solid red;
  }
  /*--FIN PARTENAIRE 5 --*/

    /*--PARTENAIRE 6--*/
    .hexa6 {
      width: 10.25rem;
      height: 6rem;
      background-color: #fff;
      position: absolute;
      left: 50%;
      top: 100%;
      transform: translate(-50%, -50%);
    }
    
    .hexa6:before,
    .hexa6:after {
      content: "";
      width: 100%;
      height: 100%;
      background-color: #fff;
      position: absolute;
    }
    
    .hexa6:before {
      transform: rotate(60deg);
    }
    
    .hexa6:after {
      transform: rotate(-60deg);
    }
    
    .hexa6,
    .hexa6:before,
    .hexa6:after {
      background: transparent;
      /*border:0.0625rem solid #fff;
        background: rgba(48,141,255,0.5); */
      border-left: 0.0625rem solid red;
      border-right: 0.0625rem solid red;
    }
    /*--FIN PARTENAIRE 6 --*/

  /*--FIN MAIN--*/