body{
    background-color: rgb(71, 42, 238);
}

.grid-container{
    margin-right: 280px;
    margin-left: 280px;
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "un un deux"
    "un un trois"
    "quatre six six"
    "cinq six six"
    "sept sept huit"
    "sept sept neuf";
    height: 170vh;
  }


.premierarticle{
    grid-area: un;
    background-image: url("./datas/animal-1869442_960_720.jpg");
    background-color: blue;
    margin: 3px;
}
.deuxiemearticle{
    grid-area: deux;
    background-image: url("./datas/beach-4984023_960_720.jpg");
    background-color: yellow;
    margin: 3px;
}
.troisiemearticle{
    grid-area: trois;
    background-image: url("./datas/husky-3380548_960_720.jpg");
    background-color: orange;
    margin: 3px;
}
.quatriemearticle{
    grid-area: quatre;
    background-image: url("./datas/seven-lakes-3796471_960_720.jpg");
    background-color: purple;
    margin: 3px;
}
.cinquiemearticle{
    grid-area: cinq;
    background-image: url("./datas/trabzon-819335_960_720.jpg");
    background-color: pink;
    margin: 3px;
}
.sixiemearticle{
    grid-area: six;
    background-image: url("./datas/trees-5691803_960_720.jpg");
    background-color: red;
    margin: 3px;
}
.septiemearticle{
    grid-area: sept;
    background-image: url("./datas/trabzon-819335_960_720.jpg");
    background-color: grey;
    margin: 3px;
}
.huitiemearticle{
    grid-area: huit;
    background-image: url("./datas/beach-4984023_960_720.jpg");
    background-color: black;
    margin: 3px;
}

.neuviemearticle{
    grid-area: neuf;
    background-image: url("./datas/friends-1149841_960_720.jpg");
    background-color: green;
    margin: 3px;
}

.titre{
    background-color: white;
    font-size: 2em;
    text-align: center;
    letter-spacing: 1em;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    font-weight: 20;
    color: blue;
}
h2{
    position: relative;
    float: bottom left;
    background-color: rgba(231, 228, 228, 0.733);
    color: blue;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 20;
    padding: 5px;
    margin: 20px;
}