/* CSS COMMUN  */
/*--Font--*/
@font-face {
    font-family: "robotob";
    src: url("../datas/font/Roboto-Bold.ttf");
  }
  
  @font-face {
    font-family: "robotoi";
    src: url("../datas/font/Roboto-Italic.ttf");
  }
  
  @font-face {
    font-family: "engine";
    src: url("../datas/font/Engine-Regular.otf");
  }
  
  @font-face {
    font-family: "enginei";
    src: url("../datas/font/Engine-Italic.otf");
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: #2C3164;
  }

/* CSS DU HEADER */
/*TOUS LES HEXA*/
.container {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 6%;
  }
  
  

  
  /*--Logo--*/
  .monlogo {
    width: 100%;
    position: relative;
    margin-left: 100px;
  }
  
  .logo {
    width: 25%;
  }
  
  .logo2{
   margin-left: 1200px;
   margin-top: -40px;
  }

  /*--Menu entier--*/
  .mon_menu {
    display: flex;
    justify-content: space-around;
    /* margin-left: 5%;
    margin-right: 5%; */
  }
  
  /*--Sous-menu---*/
  .sous-menu {
    z-index: 3;
    position: ;
    float: left;
  }
  
  /*--Liens--*/
  a {
    color: white;
    text-decoration: none;
    font-size: 1.3125rem;
    margin-left: 4%;
    white-space: nowrap;
  }
  
  /*--Je m'informe--Découvrir les acteurs--Je m'engage--*/
  button {
    background-color: #555c8f7c;
    border: 0.0625rem solid transparent;
    width: 31.25rem;
    height: 2.5rem;
    color: white;
    font-size: 110%;
    /* position: relative; */
    /* margin-left: 8%;
   margin-top: 10%; */
    font-family: "robotob";
    letter-spacing: 0.3125rem;
  }
  
  /*--Bordure click none--*/
  button:focus {
    outline: 0;
    border: none;
  }
  
  /*--Sous-parties--*/
  ul {
    margin: 0;
  }
  
  ul li {
    width: 28.75rem;
    height: 2.5rem;
    position: relative;
    list-style: none;
    color: white;
    font-family: "robotoi";
  }
  
  /*--Sous-parties je m'engage--*/
  #list {
    background-color: #47316F;
  }
  
  /*--Sous-parties je m'informe--*/
  #list3 {
    background-color: #1E72B9;
  }
  
  /*--Je m'informe--*/
  #btn {
    background-color: #47316F;
  }
  
  /*--Je m'engage--*/
  #btn3 {
    background-color: #1E72B9;
  }
  
  /*--Fin Header--*/
  
  
  /* CSS SECTION */
  
 /*corpus*/
  .corpus{
    width:1513px;
    height:390px;
    background-color: rgb(137, 137, 137);
    color: #ffffff;
    font-family: "Roboto";
     src: url(./Roboto-Light.ttf) format('truetype');
     align-content: center;
     
  }

.barre{
  margin-left: 600px;
  
}

  label {
   
    display: block;
    font: 1rem @import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);
    
    
    body {
      font-family: 'Roboto', sans-serif;
    };
}

/*bouton*/
.bouton{
  width:100px;
  height:30px;
}
/*fin bouton*/

/* Fin du corpus*/

input,
label {
    margin: .4rem 0;
}
 
  /*Les nouveaux acteurs*/

 .P{
   color: #ffffff;
   font-family: "Roboto";
    src: url(./Roboto-Light.ttf) format('truetype');
    margin-left:30px;
     }
  /*GALERIES*/

  .galerie{
    width: 1509px;
    height:642px;
    background-color: #2C3164;
    align-items: center;
  }


  /*Fin GALERIES*/
  /* La div qui englobe toute la barre de recherche */
  /*GALERIE2*/
.P2{
    color: #ffffff;
    font-family: "Roboto";
     src: url(./Roboto-Light.ttf) format('truetype');
     margin-left:30px;
      }


  
  
 
  .arrow button i {
    position: absolute;
    top: 70%;
    right: 50%;
    left: 50%;
    color: rgba(255, 239, 239, 0.37);
    font-size: 3em;
  }

  .titre{
    background-color: white;
    font-size: 2em;
    text-align: center;
    letter-spacing: 1em;
    font-family: "engine";
    padding: 1.25rem;
    font-weight: 20;
    color: #1E72B9;
  }
  .titre2{
    background-color: white;
    font-size: 2em;
    text-align: center;
    letter-spacing: 1em;
    font-family: "engine";
    padding: 1.25rem;
    font-weight: 20;
    color: #1E72B9;
  }
  .titre3 {
    background-color: white;
    font-size: 2em;
    text-align: center;
    letter-spacing: 1em;
    font-family: "engine";
    padding: 1.25rem;
    font-weight: 20;
    color: #1E72B9;
  }
  
  h2 {
    position: relative;
    float: bottom left;
    background-color: rgba(231, 228, 228, 0.733);
    color: #1E72B9;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 20;
    padding: 0.3125rem;
    margin: 1.25rem;
  }
  
  .un {
    font-family: "Roboto";
    src: url(./Roboto-Light.ttf) format('truetype');
    text-align: center;
    color: rgb(10, 10, 191);
    letter-spacing: 1em;
  
  }
  
  /* body{
      background-image:url(./img1.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      margin: 0;
      padding:0;
    } */
  
  .section {
    margin-top: 1.875rem;
  }
  
  .hexa {
    padding-top: 3.125rem;
    display: flex;
    justify-content: space-between;
    margin-left: 17.5rem;
    margin-right: 17.5rem;
    background:#ededed;
  }
  
  .hexa h3 {
    top: 17%;
    font-size: 1.75rem;
  }
  
  .gris {
    background: #ededed;;
    margin-top: -1.375rem;
    height: 36.25rem;
  }
  
  /*DECOUVRIR LES ACTEURS*/
  /*SANTÉ*/
  .hexagon1 {
    position: relative;
    background-image: url(/datas/soin_-_1.svg);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
    width: 18.75rem;
    height: 10.8256rem;
    background-color: #EFCBB5;
    margin: 5.4125rem 0;
    margin-Bottom: 3.75rem;
  }
  
  .hexagon1:before,
  .hexagon1:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 9.375rem solid transparent;
    border-right: 9.375rem solid transparent;
  }
  
  .hexagon1:before {
    bottom: 100%;
    border-bottom: 5.4125rem solid #EFCBB5;
  }
  
  .hexagon1:after {
    top: 100%;
    width: 0;
    border-top: 5.4125rem solid #EFCBB5;
  }
  /*FIN SANTÉ*/
  
  /*SOCIAL*/
  .hexagon2 {
    position: relative;
    background-image: url(/datas/humain.svg);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
    width: 18.75rem;
    height: 10.8256rem;
    background-color: #1E72B9;
    ;
    margin: 5.4125rem 0;
    margin-bottom: 3.75rem;
  }
  
  .hexagon2:before,
  .hexagon2:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 9.375rem solid transparent;
    border-right: 9.375rem solid transparent;
  }
  
  .hexagon2:before {
    bottom: 100%;
    border-bottom: 5.4125rem solid #1E72B9;
  }
  
  .hexagon2:after {
    top: 100%;
    width: 0;
    border-top: 5.4125rem solid #1E72B9;
  }
  /*FIN SOCIAL*/
  
  /*ENVIRONNEMENT*/
  .hexagon3 {
    position: relative;
    background-image: url(/datas/environnement2.svg);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
    width: 18.75rem;
    height: 10.8256rem;
    background-color: #B3D78D;
    margin: 5.4125rem 0;
    margin-bottom: 3.75rem;
  }
  
  .hexagon3:before,
  .hexagon3:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 9.375rem solid transparent;
    border-right: 9.375rem solid transparent;
  }
  
  .hexagon3:before {
    bottom: 100%;
    border-bottom: 5.4125rem solid #B3D78D;
  }
  
  .hexagon3:after {
    top: 100%;
    width: 0;
    border-top: 5.4125rem solid #B3D78D;
  }
  /*FIN ENVIRONNEMENT*/
  h3 {
    color: #2C3164;
    text-align: center;
    font-family: "engine";
    font-size: 3.125rem;
    letter-spacing: 0.25rem;
    position: relative;
    top: -35%;
  }
  /*FIN DECOUVRIR LES ACTEURS*/
  
 
  
  /*IMAGE BAS DU SITE*/
  .image {
    width: 80%;
    height: 31.25rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    background-image: url("../datas/2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
  }
  
  .image img {
    width: 100%;
  }
  
  /* CSS LOÏC */
  
  .titre2 {
    font-family: "Roboto";
    src: url(./Roboto-Light.ttf) format('truetype');
    text-align: center;
    color: rgb(20, 144, 165);
    letter-spacing: 1em;
  }
  
  .action {
    position: absolute;
    width: 1440px;
    height: 473px;
    background-color: #ffffff;
  
  }

.blanc{
  background-color: #ffffff;
  width: 1513px;
  height: 200px;
}
  
  
  /* CSS DU FOOTER */
  footer {
    position: absolute;
    right: 0px;
    height: 400px;
    left: 0px;
    background: #2C3164;
  }
  
  .logo-footer {
    position: absolute;
    width: 449px;
    height: 219px;
    left: 52px;
    top: 56px;
    background-image: url(./Capture\ d’écran\ de\ 2020-11-30\ 15-20-59.png);
  }
  
  .services {
    position: absolute;
    width: 500px;
    height: 175px;
    left: 40%;
    top: 78px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    color: #FFFFFF;
  }
  
  .faceb {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 86%;
    top: 50%;
    background-color: #2C3164;
    border-radius: 50%;
  }
  
  .linkedin {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 91%;
    top: 50%;
    background-color: #2C3164;
    border-radius: 50%;
  }
  
  .copyright {
    position: absolute;
    width: 100%;
    height: 29px;
    left: 0px;
    bottom: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 29px;
    background-color: white;
    color: #2C3164;
    text-align: center;
  }
  
  
  .abo-newsletter input {
    position: absolute;
    left: 43%;
    bottom: 22%;
    border-radius: 10%;
  }
  
  #abonnement {
    position: absolute;
    left: 53%;
    bottom: 22%;
    border-radius: 10%;
  }
  
  .abo-newsletter button {
    position: absolute;
    width: 6%;
    height: 5%;
    font-size: 10px;
  }