
/*--MAIN--*/
main {
  width: 100%;
  height: 1800px;
  background-color: white;
}

main .title {
  margin: 0;
  padding: 3%;
  font-family: "engine";
  font-size: 250%;
  color: #2273B8;
  white-space: pre-line;
  text-align: center;
  letter-spacing: 20px;
}

.btngrille {
  margin-left: 15%;
  margin-right: 15%;
  grid-gap: 30px;
  height: 13vh;
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr, 1fr, 1fr, 1fr;
  /*1frame*/
  grid-template-rows: 1fr, 1fr;
  grid-template-areas:
    "un un deux deux trois trois"
    "quatre quatre cinq cinq six sept";

}

#adress {
  grid-area: un;
  background-color: #81b0d8;
  background-image: url(../datas/map.png);
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid transparent;
  border-radius: 50px;
}

#adress:focus {
  outline: 0;
  border: none;
}

#adress::placeholder {
  font-family: "roboto";
  font-size: 180%;
  letter-spacing: 5px;
  opacity: 0.5;
  color: white;
  text-align: center;
}


#period {
  grid-area: deux;
  background-color: #81b0d8;
  background-image: url(../datas/calendar.png);
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid transparent;
  border-radius: 50px;
}

#period:focus {
  outline: 0;
  border: none;
}

#period::placeholder {
  font-family: "roboto";
  font-size: 180%;
  letter-spacing: 5px;
  opacity: 0.5;
  color: white;
  text-align: center;
}

#mission {
  grid-area: trois;
  background-color: #81b0d8;
  background-image: url(../datas/chrono.png);
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid transparent;
  border-radius: 50px;
}

#mission:focus {
  outline: 0;
  border: none;
}

#mission::placeholder {
  font-family: "roboto";
  font-size: 180%;
  letter-spacing: 5px;
  opacity: 0.5;
  color: white;
  text-align: center;
}

#thematique {
  grid-area: quatre;
  background-color: #81b0d8;
  background-image: url(../datas/dots.png);
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid transparent;
  border-radius: 50px;
}

#thematique:focus {
  outline: 0;
  border: none;
}

#thematique::placeholder {
  font-family: "roboto";
  font-size: 180%;
  letter-spacing: 5px;
  opacity: 0.5;
  color: white;
  text-align: center;
}

#keyword {
  grid-area: cinq;
  background-color: #81b0d8;
  background-image: url(../datas/keyword.png);
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid transparent;
  border-radius: 50px;
}

#keyword:focus {
  outline: 0;
  border: none;
}

#keyword::placeholder {
  font-family: "roboto";
  font-size: 180%;
  letter-spacing: 5px;
  opacity: 0.5;
  color: white;
  text-align: center;
}

#btnsearch {
  grid-area: six;
  background-color: #81b0d8;
  background-image: url(../datas/search.png);
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid transparent;
  border-radius: 50px;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}

#btnsearch:focus {
  outline: 0;
  border: none;
}

#btncancel {
  grid-area: sept;
  background-color: #81b0d8;
  background-image: url(../datas/cancel.png);
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid transparent;
  border-radius: 50px;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}

#btncancel:focus {
  outline: 0;
  border: none;
}

/*--MAP--*/
iframe {
  width: 100%;
  height: 550px;
  border: transparent;
}

/*--FIN MAP*/
/*HONEYCOMB*/
.honey {
  position: relative;
  width: 100%;
  height: 150px;
  background-color: white;
  margin-top: -5%;
}


/*PREMIER HONEYCOMB*/
.honeycomb {
  width: 4.25rem;
  height: 2.5rem;
  position: absolute;
  left: 2%;
  margin-top: 3%;
  transform: translate(-50%, -50%);
}

.honeycomb:before,
.honeycomb:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}

.honeycomb:before {
  transform: rotate(60deg);
}

.honeycomb:after {
  transform: rotate(-60deg);
}

.honeycomb,
.honeycomb:before,
.honeycomb:after {
  background: transparent;
  border-left: 0.0625rem solid #B3D78D;
  border-right: 0.0625rem solid #B3D78D;
}

/*FIN PREMIER HONEYCOMB*/

/*DEUXIEME HONEYCOMB*/
.honeycomb2 {
  width: 4.25rem;
  height: 2.5rem;
  position: absolute;
  left: 4.2%;
  margin-top: 6.5%;
  transform: translate(-50%, -50%);
}

.honeycomb2:before,
.honeycomb2:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}

.honeycomb2:before {
  transform: rotate(60deg);
}

.honeycomb2:after {
  transform: rotate(-60deg);
}

.honeycomb2,
.honeycomb2:before,
.honeycomb2:after {
  background: transparent;
  border-left: 0.0625rem solid #B3D78D;
  border-right: 0.0625rem solid #B3D78D;
}

/*FIN DEUXIEME HONEYCOMB*/

/*--EVENEMENTS--*/
.events {
  width: 100%;
  height: auto;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: center;
  margin-top: 2%;
}

.events img {
  width: 300px;
  height: 200px;
  position: relative;
  margin-right: 20px;
}



.events1 h3 {
  position: relative;
  color: #1E72B9;
  text-align: center;
  margin-top: -40%;
  font-size: 170%;
  font-family: "robotob";
  letter-spacing: 4px;
}

.events2 h3 {
  position: relative;
  color: #1E72B9;
  text-align: center;
  margin-top: -40%;
  font-size: 170%;
  font-family: "robotob";
  letter-spacing: 4px;
}


.events3 h3 {
  position: relative;
  color: #1E72B9;
  text-align: center;
  margin-top: -40%;
  font-size: 170%;
  font-family: "robotob";
  letter-spacing: 4px;
}

.events_bas {
  width: 100%;
  background-color: white;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: center;
  margin-top: 20%;

}

.events_bas img {
  width: 300px;
  height: 200px;
  position: relative;
  margin-right: 20px;
}



.events4 h3 {
  position: relative;
  color: #1E72B9;
  text-align: center;
  margin-top: -40%;
  font-size: 170%;
  font-family: "robotob";
  letter-spacing: 4px;
}

.events5 h3 {
  position: relative;
  color: #1E72B9;
  text-align: center;
  margin-top: -40%;
  font-size: 170%;
  font-family: "robotob";
  letter-spacing: 4px;
}


.events6 h3 {
  position: relative;
  color: #1E72B9;
  text-align: center;
  margin-top: -40%;
  font-size: 170%;
  font-family: "robotob";
  letter-spacing: 4px;
}

.events1 p {
  position: absolute;
  color: #1E72B9;
  font-family: "robotot";
  margin-top: 4.5%;
  white-space: pre-line;
}

.events2 p {
  position: absolute;
  color: #1E72B9;
  font-family: "robotot";
  margin-top: 4.5%;
  white-space: pre-line;
}

.events3 p {
  position: absolute;
  color: #1E72B9;
  font-family: "robotot";
  margin-top: 4.5%;
  white-space: pre-line;
}

.events4 p {
  position: absolute;
  color: #1E72B9;
  font-family: "robotot";
  margin-top: 4.5%;
  white-space: pre-line;
}

.events5 p {
  position: absolute;
  color: #1E72B9;
  font-family: "robotot";
  margin-top: 4.5%;
  white-space: pre-line;
}

.events6 p {
  position: absolute;
  color: #1E72B9;
  font-family: "robotot";
  margin-top: 4.5%;
  white-space: pre-line;
}

/*HONEYCOMB*/
.honey2 {
  position: absolute;
  width: 100%;
  height: 150px;
  margin-top: 35%;
}


/*PREMIER HONEYCOMB*/
.hon1 {
  width: 4.25rem;
  height: 2.5rem;
  position: absolute;
  margin-left: 96%;
  transform: translate(-50%, -50%);
}

.hon1:before,
.hon1:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}

.hon1:before {
  transform: rotate(60deg);
}

.hon1:after {
  transform: rotate(-60deg);
}

.hon1,
.hon1:before,
.hon1:after {
  background: transparent;
  border-left: 0.0625rem solid #B3D78D;
  border-right: 0.0625rem solid #B3D78D;
}

/*FIN PREMIER HONEYCOMB*/

/*DEUXIEME HONEYCOMB*/
.hon2 {
  width: 4.25rem;
  height: 2.5rem;
  position: absolute;
  left: 98%;
  margin-top: 3.5%;
  transform: translate(-50%, -50%);
}

.hon2:before,
.hon2:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}

.hon2:before {
  transform: rotate(60deg);
}

.hon2:after {
  transform: rotate(-60deg);
}

.hon2,
.hon2:before,
.hon2:after {
  background: transparent;
  border-left: 0.0625rem solid #B3D78D;
  border-right: 0.0625rem solid #B3D78D;
}

/*FIN DEUXIEME HONEYCOMB*/

/*--VOS ACTIONS*/
.vosactions {
  background-color: #dddff6;
  width: 100%;
}


.actions {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding: 5%;

}

.actions svg {
  width: 30%;
  height: 140px;
}

.actions h4 {
  font-family: "robotot";
  font-size: 120%;
  color: #2C3164;
}

.actions h5 {
  font-family: "robotot";
  font-size: 120%;
  color: #2C3164;
}

.actions p {
  font-family: "robotot";
  font-size: 120%;
  color: black;
  white-space: pre-line;
}

.actions input {
  margin-top: 4%;
  width: auto;
  height: 30px;
  background-color: white;
  border-radius: 50px;
  border: 1px solid transparent;
  color: #2C3164;
  text-align: center;
  font-family: "robotob";
  font-size: 100%;
  cursor: pointer;
}


.actions input:focus {
  outline: 0;
}


.tout {
  display: flex;
  justify-content: space-around;
  
}


.title {
  margin: 0;
  padding: 3%;
  font-family: "engine";
  font-size: 250%;
  color: #2273B8;
  white-space: pre-line;
  text-align: center;
  letter-spacing: 20px;
  background-color: white;
}

