/*--Font--*/
@font-face {
    font-family: "roboto";
    src: url("../datas/font/Roboto-Regular.ttf");
}

@font-face {
    font-family: "robotob";
    src: url("../datas/font/Roboto-Bold.ttf");
}

@font-face {
    font-family: "robotoi";
    src: url("../datas/font/Roboto-Italic.ttf");
}

@font-face {
    font-family: "robotoli";
    src: url("../datas/font/Roboto-LightItalic.ttf");
}

@font-face {
    font-family: "robotot";
    src: url("../datas/font/Roboto-Thin.ttf");
}

@font-face {
    font-family: "engine";
    src: url("../datas/font/Engine-Regular.otf");
}

@font-face {
    font-family: "enginei";
    src: url("../datas/font/Engine-Italic.otf");
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: #2C3164;
}

/*--BOUTON - LOGO - FIL D'ARIANE--*/

/*--BACK LOGO--*/
main {
    padding-top: 5.5%;
    padding-bottom: 5.5%;
    width: 100%;
    height: auto;
    background-color: white;
}
/*--FIN BACK LOGO--*/

/*--BOUTON--*/
input {
    background-color: #2C3164;
    color: white;
    display: flex;
    flex-direction: row;
    margin-left: 15%;
    padding: 0.5%;
    border-radius: 50px;
}
/*--FIN BOUTON--*/

/*--LOGO--*/
main img {
    width: 12%;
    margin-left: 45%;
    margin-top: -10%;
}
/*--FIN LOGO--*/

/*--FIL D'ARIANE--*/
nav {

    position: relative;
    margin-top: 5%;
}

.breadcrumb ul {
    display: flex;
    justify-content: left;
}

nav ul li a {
    color: #B3D78D;
}

.breadcrumb li {
    width: 4%;

}

.breadcrumb li::before {
    content: ">";
    color: #B3D78D;
}

.breadcrumb li:first-child::before {
    content: "";
}
/*--FIN FIL D'ARIANE--*/
/*-- FIN BOUTON - LOGO - FIL D'ARIANE--*/

/*-- SECTION ARTICLE --*/
/*--QUI SOMMES-NOUS?--*/
.one {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    color: #2C3164;

}

.one h1 {
    font-family: "engine";
    font-size: 300%;
    text-align: center;
}

.one h2 {
    font-family: "roboto";
    font-size: 140%;
    margin-top: 2%;
    text-align: center;
}

.histoire {
    height: auto;
    font-family: "roboto";
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
    text-align: justify;
    position: relative;
}
/*--FIN QUI SOMMES-NOUS?--*/

/*--QUELS SONT NOS OBJECTIFS?--*/
.two {
    margin-top: 3%;
    white-space: pre-line;
    color: #2C3164;
}

.two h2 {
    font-family: "roboto";
    font-size: 140%;
    margin-top: 2%;
    text-align: center;
}

.two h3 {
    font-family: "robotoli";
    font-size: 120%;
    margin-top: -1%;
    text-align: center;
}

.objectifs {
    height: auto;
    font-family: "roboto";
    text-align: center;
}
/*--FIN QUELS SONT NOS OBJECTIFS?--*/

/*--UNE APPROCHE GLOBALE--*/
.three {
    margin-top: 3%;
    white-space: pre-line;
    color: #2C3164;
}

.three h2 {
    font-family: "roboto";
    font-size: 140%;
    margin-top: 2%;
    text-align: center;
}

.three h3 {
    font-family: "robotoli";
    font-size: 120%;
    margin-top: -1%;
    text-align: center;
}

.duo {
    display: flex;
    flex-direction: column;
}

.gauche {
    height: auto;
    font-family: "roboto";
    margin-left: 20%;
    margin-right: 50%;
    text-align: justify;
    position: relative;
    line-height: 1.5em;
}

.droite {
    height: auto;
    font-family: "roboto";
    margin-left: 55%;
    margin-right: 20%;
    margin-top: -15%;
    text-align: justify;
    line-height: 1.5em;

}
/*--FIN UNE APPROCHE GLOBALE--*/
/*-- FIN SECTION ARTICLE --*/


/*-- LIEN + NOS ACTUS --*/
aside a {
    color: #1E72B9;
    margin-left: 74%;
    margin-top: 3%;
}

.lien a {
    text-decoration: underline;

}

/*--NOS ACTUS--*/
.actu {
    margin-left: 47%;
    margin-top: 5%;
    background-color: #1E72B9;
    color: white;
    padding: 0.5%;
    border-radius: 10px;
}
/*-- FIN LIEN + NOS ACTUS --*/

/*-- IMAGES FIN DE PAGE --*/
.photos {
    width: 100%;
    height: auto;
    margin-left: 2%;
}

.photos img {
    width: auto;
    height: auto;
    margin-top: 4%;
    margin-left: 2%;
}
/*-- FIN IMAGES FIN DE PAGE --*/