/* CSS COMMUN  */
/*--Font--*/
@font-face {
    font-family: "robotob";
    src: url("../datas/font/Roboto-Bold.ttf");
  }
  
  @font-face {
    font-family: "robotoi";
    src: url("../datas/font/Roboto-Italic.ttf");
  }
  
  @font-face {
    font-family: "engine";
    src: url("../datas/font/Engine-Regular.otf");
  }
  
  @font-face {
    font-family: "enginei";
    src: url("../datas/font/Engine-Italic.otf");
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: #2C3164;
  }

/* CSS DU HEADER */
/*TOUS LES HEXA*/
.container {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 6%;
}


/*PREMIER HEXAGONE*/
.hexagone {
  width: 4.25rem;
  height: 2.5rem;
  background-color: #fff;
  position: absolute;
  right: -1%;
  top: -20%;
  transform: translate(-50%, -50%);
}

.hexagone:before,
.hexagone:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
}

.hexagone:before {
  transform: rotate(60deg);
}

.hexagone:after {
  transform: rotate(-60deg);
}

.hexagone,
.hexagone:before,
.hexagone:after {
  background: transparent;
  /*border:0.0625rem solid #fff;
    background: rgba(48,141,255,0.5); */
  border-left: 0.0625rem solid #B3D78D;
  border-right: 0.0625rem solid #B3D78D;
}

/*FIN PREMIER HEXAGONE*/

/*DEUXIEME HEXAGONE*/
.hexagone2 {
  width: 4.25rem;
  height: 2.5rem;
  /* background-color: transparent;
  background-image: url("../datas/user.png");
  background-size: contain; */
  background-repeat: no-repeat;
  position: absolute;
  right: 3%;
  top: -20%;
  transform: translate(-50%, -50%);
}

.hexagone2 img {
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  margin-left: 48%;
  margin-top: 25%;
  transform: translate(-50%, -50%);
}

.hexagone2:before,
.hexagone2:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}

.hexagone2:before {
  transform: rotate(60deg);
}

.hexagone2:after {
  transform: rotate(-60deg);
}

.hexagone2,
.hexagone2:before,
.hexagone2:after {
  /* background: transparent; */
  /*border:0.0625rem solid #fff;
    background: rgba(48,141,255,0.5); */
  border-left: 0.0625rem solid #B3D78D;
  border-right: 0.0625rem solid #B3D78D;
}

/*TROISIEME HEXAGONE*/
.hexagone3 {
  width: 4.25rem;
  height: 2.5rem;
  position: absolute;
  right: 7%;
  top: -20%;
  transform: translate(-50%, -50%);
}

.hexagone3:before,
.hexagone3:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}

.hexagone3:before {
  transform: rotate(60deg);
}

.hexagone3:after {
  transform: rotate(-60deg);
}

.hexagone3,
.hexagone3:before,
.hexagone3:after {
  /* background: transparent; */
  /*border:0.0625rem solid #fff;
    background: rgba(48,141,255,0.5); */
  border-left: 0.0625rem solid #B3D78D;
  border-right: 0.0625rem solid #B3D78D;
}

/*FIN TROISIEME HEXAGONE*/

/*QUATRIEME HEXAGONE*/
.hexagone4 {
  width: 4.25rem;
  height: 2.5rem;
  position: absolute;
  right: 11%;
  top: -20%;
  transform: translate(-50%, -50%);
}

.hexagone4:before,
.hexagone4:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: absolute;
}

.hexagone4:before {
  transform: rotate(60deg);
}

.hexagone4:after {
  transform: rotate(-60deg);
}

.hexagone4,
.hexagone4:before,
.hexagone4:after {
  /* background: transparent; */
  /*border:0.0625rem solid #fff;
    background: rgba(48,141,255,0.5); */
  border-left: 0.0625rem solid #B3D78D;
  border-right: 0.0625rem solid #B3D78D;
}


/* HEXAGONE BAS*/
/*5EME HEXAGONE*/
.hexagone_1bas {
  width: 4.25rem;
  height: 2.5rem;
  background-color: #fff;
  position: absolute;
  right: 1%;
  top: 60%;
  transform: translate(-50%, -50%);
}

.hexagone_1bas:before,
.hexagone_1bas:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
}

.hexagone_1bas:before {
  transform: rotate(60deg);
}

.hexagone_1bas:after {
  transform: rotate(-60deg);
}

.hexagone_1bas,
.hexagone_1bas:before,
.hexagone_1bas:after {
  background: transparent;
  /*border:0.0625rem solid #fff;
    background: rgba(48,141,255,0.5); */
  border-left: 0.0625rem solid #B3D78D;
  border-right: 0.0625rem solid #B3D78D;
}

/*6EME HEXAGONE*/
.hexagone_2bas {
  width: 4.25rem;
  height: 2.5rem;
  background-color: #fff;
  position: absolute;
  right: 5%;
  top: 60%;
  transform: translate(-50%, -50%);
}

.hexagone_2bas:before,
.hexagone_2bas:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
}

.hexagone_2bas:before {
  transform: rotate(60deg);
}

.hexagone_2bas:after {
  transform: rotate(-60deg);
}

.hexagone_2bas,
.hexagone_2bas:before,
.hexagone_2bas:after {
  background: transparent;
  /*border:0.0625rem solid #fff;
    background: rgba(48,141,255,0.5); */
  border-left: 0.0625rem solid #B3D78D;
  border-right: 0.0625rem solid #B3D78D;
}

/*6EME HEXAGONE*/
.hexagone_3bas {
  width: 4.25rem;
  height: 2.5rem;
  background-color: #fff;
  position: absolute;
  right: 9%;
  top: 60%;
  transform: translate(-50%, -50%);
}

.hexagone_3bas:before,
.hexagone_3bas:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
}

.hexagone_3bas:before {
  transform: rotate(60deg);
}

.hexagone_3bas:after {
  transform: rotate(-60deg);
}

.hexagone_3bas,
.hexagone_3bas:before,
.hexagone_3bas:after {
  background: transparent;
  /*border:0.0625rem solid #fff;
    background: rgba(48,141,255,0.5); */
  border-left: 0.0625rem solid #B3D78D;
  border-right: 0.0625rem solid #B3D78D;
}

/*--Logo--*/
.monlogo {
  width: 100%;
  position: relative;
}

.logo {
  width: 25%;
}


/*--Menu entier--*/
.mon_menu {
  display: flex;
  justify-content: space-around;
  /* margin-left: 5%;
  margin-right: 5%; */
}

/*--Sous-menu---*/
.sous-menu {
  z-index: 3;
  position: absolute;
  float: left;
}

/*--Liens--*/
a {
  color: white;
  text-decoration: none;
  font-size: 1.3125rem;
  margin-left: 4%;
  white-space: nowrap;
}

/*--Je m'informe--Découvrir les acteurs--Je m'engage--*/
button {
  background-color: #555c8f7c;
  border: 0.0625rem solid transparent;
  width: 31.25rem;
  height: 2.5rem;
  color: white;
  font-size: 110%;
  /* position: relative; */
  /* margin-left: 8%;
 margin-top: 10%; */
  font-family: "robotob";
  letter-spacing: 0.3125rem;
}

/*--Bordure click none--*/
button:focus {
  outline: 0;
  border: none;
}

/*--Sous-parties--*/
ul {
  margin: 0;
}

ul li {
  width: 28.75rem;
  height: 2.5rem;
  position: relative;
  list-style: none;
  color: white;
  font-family: "robotoi";
}

/*--Sous-parties je m'engage--*/
#list {
  background-color: #47316F;
}

/*--Sous-parties je m'informe--*/
#list3 {
  background-color: #1E72B9;
}

/*--Je m'informe--*/
#btn {
  background-color: #47316F;
}

/*--Je m'engage--*/
#btn3 {
  background-color: #1E72B9;
}

/*--Fin Header--*/
  /* CSS SECTION */
  
 /*corpus*/
  .corpus{
    width:1513px;
    height:390px;
    background-color: rgb(137, 137, 137);
    color: #ffffff;
    font-family: "Roboto";
     src: url(./Roboto-Light.ttf) format('truetype');  
  }

  .topnav {
    position: absolute;
    width: 40%;
    height: 2.8125rem;
    right: 20%;
    left: 35%;
    top: 55%;
    border-radius: 0.75rem;
    overflow: hidden;
    background-color: #acbddd3b;
    display: flex;
    margin-top: -45px;
    /* justify-content: space-between; */
  }
  
  .mes_boutons {
    width: 170%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
  }

  .mes_boutons .search_video {
    width: 170%;
    height: 100%;
    margin-top: 10px;
    font-size: 12px;
  }
  
  .mes_recherches {
    width: 60%;
    height: 100%;
  }
  
  .search_video {
    display: block;
    position: relative;
    margin-right: 20px;
    height: 60%;
    width: 100%;
  }
  
  .topnav button {
    width: 60%;
    /* margin-right: 10%; */
  }

  .topnav input {
    width: 100%;
    margin-top:5px;
    /* margin-right: 10%; */
  }
  
  .btn_video {
    width: 100%;
    background-color: #1E72B9;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
  }
  



/*fin bouton*/

/* Fin du corpus*/


 
  /*Les nouveaux acteurs*/

 .P{
   color: #ffffff;
   font-family: "Roboto";
    src: url(./Roboto-Light.ttf) format('truetype');
    margin-left:30px;
     }
  /*GALERIES*/

  .galerie{
    width: 100%;
    height:642px;
    background-color: #2C3164;
    align-items: center;
  }

  
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
 
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    margin-left: 450px;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 100px) {
    .prev, .next,.text {font-size: 11px}
  }


/* .mySlides{
  width:100%;
  height:300px;
 
} */

  /*Fin GALERIES*/

  /*Debut GALERIE2*/
  .galerie{
    width: 100%;
    height:642px;
    background-color: #2C3164;
    align-items: center;
  }

  
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
 
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot2 {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot2:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade2 {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    margin-left: 450px;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 100px) {
    .prev, .next,.text {font-size: 11px}
  }


  /*Fin GALERIES*/



.P2{
    color: #ffffff;
    font-family: "Roboto";
     src: url(./Roboto-Light.ttf) format('truetype');
     margin-left:30px;
      }


  
  
 
  .arrow button i {
    position: absolute;
    top: 70%;
    right: 50%;
    left: 50%;
    color: rgba(255, 239, 239, 0.37);
    font-size: 3em;
  }

  .titre{
    background-color: white;
    font-size: 2em;
    text-align: center;
    letter-spacing: 1em;
    font-family: "engine";
    padding: 1.25rem;
    font-weight: 20;
    color: #1E72B9;
  }
  .titre2{
    background-color: white;
    font-size: 2em;
    text-align: center;
    letter-spacing: 1em;
    font-family: "engine";
    padding: 1.25rem;
    font-weight: 20;
    color: #1E72B9;
  }
  .titre3 {
    background-color: white;
    font-size: 2em;
    text-align: center;
    letter-spacing: 1em;
    font-family: "engine";
    padding: 1.25rem;
    font-weight: 20;
    color: #1E72B9;
  }
  
  h2 {
    position: relative;
    float: bottom left;
    background-color: rgba(231, 228, 228, 0.733);
    color: #1E72B9;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 20;
    padding: 0.3125rem;
    margin: 1.25rem;
  }
  
  .un {
    font-family: "Roboto";
    src: url(./Roboto-Light.ttf) format('truetype');
    text-align: center;
    color: rgb(10, 10, 191);
    letter-spacing: 1em;
  
  }
  
  /* body{
      background-image:url(./img1.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      margin: 0;
      padding:0;
    } */
  
  .section {
    margin-top: 1.875rem;
  }
  
  .hexa {
    padding-top: 3.125rem;
    display: flex;
    justify-content: space-between;
    margin-left: 17.5rem;
    margin-right: 17.5rem;
    background:#ededed;
  }
  
  .hexa h3 {
    top: 17%;
    font-size: 1.75rem;
  }
  
  .gris {
    background: #ededed;;
    margin-top: -1.375rem;
    height: 36.25rem;
  }
  
  /*DECOUVRIR LES ACTEURS*/
  /*SANTÉ*/
  .hexagon1 {
    position: relative;
    background-image: url(/datas/soin_-_1.svg);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
    width: 18.75rem;
    height: 10.8256rem;
    background-color: #EFCBB5;
    margin: 5.4125rem 0;
    margin-Bottom: 3.75rem;
  }
  
  .hexagon1:before,
  .hexagon1:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 9.375rem solid transparent;
    border-right: 9.375rem solid transparent;
  }
  
  .hexagon1:before {
    bottom: 100%;
    border-bottom: 5.4125rem solid #EFCBB5;
  }
  
  .hexagon1:after {
    top: 100%;
    width: 0;
    border-top: 5.4125rem solid #EFCBB5;
  }
  /*FIN SANTÉ*/
  
  /*SOCIAL*/
  .hexagon2 {
    position: relative;
    background-image: url(/datas/humain.svg);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
    width: 18.75rem;
    height: 10.8256rem;
    background-color: #1E72B9;
    ;
    margin: 5.4125rem 0;
    margin-bottom: 3.75rem;
  }
  
  .hexagon2:before,
  .hexagon2:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 9.375rem solid transparent;
    border-right: 9.375rem solid transparent;
  }
  
  .hexagon2:before {
    bottom: 100%;
    border-bottom: 5.4125rem solid #1E72B9;
  }
  
  .hexagon2:after {
    top: 100%;
    width: 0;
    border-top: 5.4125rem solid #1E72B9;
  }
  /*FIN SOCIAL*/
  
  /*ENVIRONNEMENT*/
  .hexagon3 {
    position: relative;
    background-image: url(/datas/environnement2.svg);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
    width: 18.75rem;
    height: 10.8256rem;
    background-color: #B3D78D;
    margin: 5.4125rem 0;
    margin-bottom: 3.75rem;
  }
  
  .hexagon3:before,
  .hexagon3:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 9.375rem solid transparent;
    border-right: 9.375rem solid transparent;
  }
  
  .hexagon3:before {
    bottom: 100%;
    border-bottom: 5.4125rem solid #B3D78D;
  }
  
  .hexagon3:after {
    top: 100%;
    width: 0;
    border-top: 5.4125rem solid #B3D78D;
  }
  /*FIN ENVIRONNEMENT*/
  h3 {
    color: #2C3164;
    text-align: center;
    font-family: "engine";
    font-size: 3.125rem;
    letter-spacing: 0.25rem;
    position: relative;
    top: -35%;
  }
  /*FIN DECOUVRIR LES ACTEURS*/
  
 
  
  /*IMAGE BAS DU SITE*/
  .image {
    width: 80%;
    height: 31.25rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    background-image: url("../datas/2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
  }
  
  .image img {
    width: 100%;
  }
  
  /* CSS LOÏC */
  
  .titre2 {
    font-family: "Roboto";
    src: url(./Roboto-Light.ttf) format('truetype');
    text-align: center;
    color: rgb(20, 144, 165);
    letter-spacing: 1em;
  }
  
  .action {
    position: absolute;
    width: 1440px;
    height: 473px;
    background-color: #ffffff;
  
  }

.blanc{
  background-color: #ffffff;
  width: 1513px;
  height: 200px;
}
  
  
  /* CSS DU FOOTER */
  footer {
    position: absolute;
    right: 0px;
    height: 400px;
    left: 0px;
    background: #2C3164;
  }
  
  .logo-footer {
    position: absolute;
    width: 449px;
    height: 219px;
    left: 52px;
    top: 56px;
    background-image: url(./Capture\ d’écran\ de\ 2020-11-30\ 15-20-59.png);
  }
  
  .services {
    position: absolute;
    width: 500px;
    height: 175px;
    left: 40%;
    top: 78px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    color: #FFFFFF;
  }
  
  .faceb {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 86%;
    top: 50%;
    background-color: #2C3164;
    border-radius: 50%;
  }
  
  .linkedin {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 91%;
    top: 50%;
    background-color: #2C3164;
    border-radius: 50%;
  }
  
  .copyright {
    position: absolute;
    width: 100%;
    height: 29px;
    left: 0px;
    bottom: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 29px;
    background-color: white;
    color: #2C3164;
    text-align: center;
  }
  
  
  .abo-newsletter input {
    position: absolute;
    left: 43%;
    bottom: 22%;
    border-radius: 10%;
  }
  
  #abonnement {
    position: absolute;
    left: 53%;
    bottom: 22%;
    border-radius: 10%;
  }
  
  .abo-newsletter button {
    position: absolute;
    width: 6%;
    height: 5%;
    font-size: 10px;
  }